# Compiled files
Scripts/__pycache__
Tests/__pycache__
.mypy_cache
build

# IDE folders (VSCode and PyCharm)
.vscode
.idea

# Generated grids folder
grids

# Default virtual environment
primegrid