# Default compiled files
Scripts/__pycache__
Tests/__pycache__

# Mypy compiled files
.mypy_cache
build
*.so
Scripts/*.so

# IDE folders (VSCode and PyCharm)
.vscode
.idea

# Generated grids folder
grids

# Default virtual environment
primegrid